div,body{
    height: 100%;
    width: 100%;
}
#Logoimg1{
    height: 60px;
    width: 60px;
}
#radissonimg{
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
#timg{
    height: 20px;
    width: 22px;
}
#intimg{
    height: 20px;
    width: 22px;
}
#fbimg{
    height: 20px;
    width: 22px;
}
#forheader{
    background-color:rosybrown;
}
#formargin{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
#fordiscription{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 2;
}
#forfooter{
    background-color: rosybrown;
}