div,body{
    height: 100%;
    width: 100%;
}
#Logoimg1{
    height: 60px;
    width: 60px;
}
#radissonimg{
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
#timg{
    height: 20px;
    width: 22px;
}
#intimg{
    height: 20px;
    width: 22px;
}
#fbimg{
    height: 20px;
    width: 22px;
}
#forheader{
    background-color:rosybrown;
    position:sticky;
    top: 0;
}
#formargin{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    line-height: 60px;
}
#fordiscription{
    font-family: cursive;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 2;
}
#forfooter{
    background-color: rosybrown;
    position:sticky;
    bottom: 0;

}
#forlogin{
    text-decoration: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    color: black
}
#forcprt{
    margin-left: 700px;
    padding-bottom: 30px;
}
#foricon{
    vertical-align: middle;
    margin-left: 94%;
}
#forcontact{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    position:absolute;
    padding-left: 22px;
    padding-top: 12px;
    
}
table{
    border: 1px solid black;
}
.box{
    line-height: 26px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 20px;
}
table{
    border:3px solid black;
    width:100%;
    border-collapse: collapse;
}
table td{
    border:3px solid black;
   text-align: center;
   border-collapse: collapse;
}