html,body{
    height: 100%;
    width: 100%
}
#Logoimg1{
    height: 60px;
    width: 60px;
}
#Delhiimg{
    height: 150px;
    width: 150px;
}
#Goaimg{
    height: 150px;
    width: 150px;
}
#Hydimg{
    height: 150px;
    width: 150px;
}
#Kolimg{
    height: 150px;
    width: 150px; 
}
#fblogo{
    height: 20px;
    width: 22px ;
}