@import url('htt    ps://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

div,
body {
    height: 100%;
    width: 100%;
}

#Logoimg1 {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    vertical-align: middle;
    padding-top: 6px;
}

#myidtoradisson {
    height: 150px;
    width: 150px;
    background-color: lightgrey;

}

#myidtolalit {
    height: 150px;
    width: 150px;
}

#myidtotaj {
    height: 150px;
    width: 150px;
}

#htltaj {
    margin-left: 750px;
    margin-top: -300px;

}

#Kolimg {
    height: 150px;
    width: 150px;
}

#twitimg {
    height: 20px;
    width: 22px;
}

#instaimg {
    height: 20px;
    width: 22px;
}

#fbimg {
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

#forlisthotel {
    margin: 2%;
    width: 40%;
    background-color: lightgrey;
}

.fornav {
    top: 0;
    position: sticky;
    flex-wrap: nowrap;
    display: flex;
}

#forlogin {
    text-decoration: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    color: black
}

#forheader {

    position: fixed;
    width: 100%;
}

#forcopryt {
    margin-left: 715px;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    vertical-align: middle;


}

.foricons {
    margin-left: 94.5%;
}

#formv {
    text-decoration: none;
    margin-left: 100px;
    color: black;
}

#forlv {

    text-decoration: none;
    margin-left: 570px;
    color: black;
}

#forlisthotel a {
    text-decoration: none;
    color: black;
}

#fbimg {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
}