div,body{
    height: 100%;
    width: 100%;
}
#Logoimg1{
    width: 60px;
    height:60px ;
}
#myidtoradisson{
    height: 150px;
    width: 150px;
    
}
#myidtolalit{
    height: 150px;
    width: 150px;
}
#myidtotaj{
    height: 150px;
    width: 150px;
}
#Kolimg{
    height: 150px;
    width:150px; 
}
#twitimg{
   height: 20px;
    width: 22px;
}
#instaimg{
    height: 20px;
    width: 22px;
}
#fbimg{
    height: 20px;
    width: 22px;
}
#forlisthotel{
    margin: 2%;
    width: 40%;
 background-color: rgb(132, 136,139);
}