div,body{
    height: 100%;
    
background-color: #e0e0e0;
    margin-left:0;
   margin-top: 0;
      margin-right: 0;
   margin-bottom: 0;
}
#forlogin{
    text-decoration: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    color: black;
}
#Logoimg1{
    height: 60px;
    width: 60px;
}
.rdimg{
    height: 500px;
width: 500px;    
}
#forheader{
    background-color: rosybrown;
    position: sticky;
    top: 0;
}
#forfooter{
    background-color: rosybrown;
    position: sticky;
    bottom: 0;
}
#forradisson{
    background-color:rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 24%;
    margin-right: 24%;
}
#forcustdtl{
    margin: 2%;
}
#fortarif{
margin: 2%;
outline-style: 1px;
border: 1px solid black;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 2%;
padding-right: 2%;
border-radius: 5px;
}
#foricons{
    float: right;
    background-color: rosybrown;
    margin-right:5px;
}
#forcrpt{
    margin-left: 45%;
    font-family: sans-serif;
}
#forcontact{
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu',sans-serif;
}
#forpay{
    text-decoration: none;
    color: black;
    font-family:'Ubuntu', sans-serif;
position:absolute;    
}